#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {color:rgb(255, 255, 255) ;}
h3 {color:rgb(255, 255, 255);}

.hdl { 
  color: rgb(255, 255, 255); 
  -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;
   font-size: 350%;
}

.lnky {color: aquamarine;font-size: 150%;}

button {
  font-size: large;
  margin: 2%;
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.snglplyr {color: rgb(255, 255, 255);}

.nm1 {color: rgb(255, 255, 255); -webkit-text-stroke-width: 3px; -webkit-text-stroke-color: black;}

 .plyz {
  text-decoration: none; 
  font-size: 300% ;
  color: rgb(255, 255, 255);
}

.pup {width: 300px; height: 400px; border:6px; border-color:rgb(255, 255, 255);border-style: solid ;}

ul {
  list-style-type: none;
}

body {background-image: url('./Pics/pexels-goochie-poochie-grooming-3299905.jpg'); background-size: cover;background-attachment: fixed;}

nav {
  display:flex;
  justify-content: space-around;
  background-color: rgba(205, 158, 87, 0.816);
  padding: 1rem;
}

nav a {
  font-size: 200%;
  color:rgb(0, 0, 0);
  padding:  .5rem;
  text-decoration: none;
}

.selected {
  border: 1px solid white;
}

.srch {font-size: 190% ;
  color: rgb(255, 255, 255)}
